@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is an experimental website that may be insecure. The information entered in the site is stored in plain text. I will do my best but I cannot guarantee your data will be kept safe. Logs, and other services may be used on the site</p>