@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ListenLater - For Overcast</h1>
    <p>Listen to your YouTube Watchlater playlist on Overcast </p>
    @* <p>This app will download new videos from your watch later playlist, convert them into audio files and then upload them to Overcast podcast player</p> *@
    <img src="home_page_diagram.png" alt="diagram describing ListenLater" style="width:1000px;">

</div>